<h1 style="font-size: 16px; font-weight: bold; background: #075490; border: 1px solid #084B8A; color: #fff; padding: 10px; margin-bottom: 5px;">
    <%= @release_log.title %> - <%= @release_log.project.name %> - <%= release_logs_label_for(:release_publish_notification) %>

    <% if @release_log.hotfix %>
        - <span style="color: #ff8000;"><%= release_logs_label_for(:hotfix) %></span>
    <% end %>
</h1>

<span style="font-size: 14px;">
    <% future = !@release_log.release_upon_publish && @release_log.released_at.present? && @release_log.released_at >= Time.current
       date = future ? release_logs_label_for(:date_on, :date => "#{user_date(@release_log.released_at).strftime('%A')}, #{format_time(@release_log.released_at)}") : release_logs_label_for(:shortly) %>

    <%= release_logs_label_for(:release_publish_message,
                               :release_identifier => link_to("#{@release_log.id}", release_log_url(@release_log, :project_id => @release_log.project.identifier)),
                               :project_name => @release_log.project.name,
                               :date => date).html_safe %>
</span>
<br/>
<br/>
<% if @release_log.description.present? %>
    <hr style="background: #146FB4"/>
    <br/>
    <h1 style="font-size: 16px; font-weight: bold; padding-bottom: 4px; color: #075490;">Description</h1>
    <%= release_log_textilizable @release_log, :description, @release_log.attachments %>
    <br/>
<% end %>
<hr style="background: #146FB4"/>
<br/>
<% release_log_entries = @release_log.release_log_entries.select { |entry| entry.include_in_notification } %>
<% if release_log_entries.present? %>
    <h1 style="font-size: 16px; font-weight: bold; color: #075490; padding-bottom: 4px;">Issues to be released</h1>
    <%= render :partial => 'release_log_entries/release_log_grouped_entries_list', :locals => {:release_log_entries => release_log_entries, :release_log => @release_log}, :formats => [:mail] %>
<% end %>
<br/>
<hr />
<strong><%= release_logs_label_for(:published_by, :publisher => @release_log.publisher.try(:name))%></strong>
